/* ===== HEADER ===== */
.header-gallery {
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.header-gallery__logo {
  margin-bottom: 20px;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-self: center; /* evita que el flex lo estire */
}


.header-gallery__title {
  width: 700px;
  height: 200px;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 10px;
  justify-content: center;
  margin: auto;
  margin-top: 160px;
}

.header-gallery__description {
  width: 720px;
  height: 72px;
  font-size: 30px;
  line-height: 36px;
  justify-content: center;
  margin: 100px auto 50px auto; /* Centrado horizontalmente, con más espacio arriba que abajo */
}

.header-gallery__image {
  margin-top: 136px;
  max-width: 984px;
  max-height: 615px;
  margin: 100px auto 50px auto; /* Centrado horizontalmente, con más espacio arriba que abajo */
}

