/* ===== MEDIA QUERIES ===== */

/* (≤768px) */
@media (max-width: 768px) {
  .main-gallery {
    margin: 0 5%;
  }

  .main-gallery__heading {
    font-size: 34px;
    line-height: 42px;
  }

  .main-gallery__quote {
    font-size: 18px;
    line-height: 28px;
  }

  .main-gallery__text {
    font-size: 16px;
  }

  .header-gallery__title {
    max-height: 68px;
  }

  .header-gallery__title,
  .header-gallery__description {
    width: 90%;
    font-size: 32px;
    line-height: 32px;
    margin-top: 10px;
  }

  .header-gallery__image {
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: block;
  }
}

/* (≤320px) */
@media (max-width: 320px) {
  .main-gallery {
    margin: 0 2%;
  }

  .main-gallery__heading {
    font-size: 21px;
    line-height: 34px;
  }

  .main-gallery__quote {
    font-size: 16px;
    line-height: 24px;
  }

  .main-gallery__text {
    font-size: 14px;
  }


  .header-gallery__title {
    max-height: 65px;
  }

  .header-gallery__title,
  .header-gallery__description {
    font-size: 22px;
    line-height: 24px;
    margin-top: 5px;
    width: 100%;
    max-height: 75px;
  }

  .header-gallery__image {
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: block;
  }
}
/* Media Queries Parte 2 */

@media screen and (max-width: 767px) {
  /* Galería de fotos: 2 columnas */
  .main-foto-grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
  }

  /* Grid de ciudades: apilado */
  .main-ciudades__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
  }

  .main-ciudades__ciudad {
    font-size: 4vw; /* Más grande y fluido para móviles */
    text-align: center;
  }

.main-ciudades__foto img {
  height: auto;
  max-width: 100%; /* para que no exceda el contenedor */
  width: auto; /* o 100% si quieres */
}


  .main-ciudades__boton button {
    width: 90%;
    font-size: 1rem;
  }

  .main-ciudades__descripcion {
    font-size: 4vw;
    line-height: 1.5;
  }

  .main-artistas__texto {
    font-size: 4vw;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-foto-grid__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }

  /* Grid de ciudades: 2 columnas pero más estrechas */
.main-ciudades__grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  grid-template-rows: auto auto auto; /* 3 filas */
  gap: 28px;
  width: 100%;
  margin: 0 auto; /* centrar horizontalmente */
}

  .main-ciudades__ciudad {
    font-size: 3.5vw;
  }

  .main-artistas__texto {
    font-size: 17px;
  }

  .main-ciudades__descripcion {
    font-size: 17px;
  }
}



